Text {
     -fx-font-smoothing-type: lcd;
     -fx-fill: white;
     -fx-font-size: 25pt;
}

#clock {
    // -fx-fill: red;
    -fx-font-size: 45pt;
    -fx-font-weight: bold;
}

#news-container Text {
    -fx-font-size: 18pt;
}